<%- include("../../partials/head.ejs", { url: "/staff/index" }) %>

<%- include("../../partials/body.ejs") %>

<div class="main">
  <a href="/staff/staff-timings" class="card primary dp-5">
    <div class="card-header">Timings</div>
    <div class="card-body">
      <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/schedule/v16/24px.svg" alt="Icon" class="img">
    </div>
  </a>
  <a href="/staff/shop/" class="card primary dp-5">
    <div class="card-header">Shop</div>
    <div class="card-body">
      <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/store/v11/24px.svg" alt="Icon" class="img">
    </div>
  </a>
  <a href="/" class="card primary dp-5">
    <div class="card-header">Test_Dont_Enter</div>
    <div class="card-body">
      <img src="https://fonts.gstatic.com/s/i/materialiconsoutlined/block/v15/24px.svg" alt="Icon" class="img">
    </div>
  </a>
</div>

<%- include("../../partials/body_end.ejs") %>
