<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Staff Login - Nasgar Network </title>

	<!-- CSS -->
	<link rel="stylesheet/less" href="/less/pags/staff/login.less">

	<%- include("../../partials/less.ejs") %> 
</head>
<body>
	<%- include("../../partials/nav.ejs", { userData, alert }) %> 

	<div class="header-separator"></div>

	<div class="login-card centered">
		<div class="form">
			<form action="/staffLogin" method="post">
				<input type="password" name="password" id="password">
				<button type="submit" class="btn-primary"> Test </button>
			</form>
		</div>

		<div class="adv-warning">
			<i class="material">error_outline</i>
			<span>You have limited attempts, think what you do</span>
		</div>
	</div>
</body>
</html>