<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Staff message - Nasgar Network </title>



	<%- include("../../partials/less.ejs") %>
</head>
<body>
	<%- include("../../partials/nav.ejs", { userData, alert }) %> 
	<div class="header-separator"></div>
	
	<div class="app">
		<div class="card">
			<form action="/staff/send-message" method="post">
				<input type="text" name="user" id="user" placeholder="Username" required>
				<button type="submit">Send</button>
			</form>
		</div>
	</div>
</body>
</html>