<%- include("../../partials/head.ejs", { global, title: "cart", url: "/shop/cart" }) %>
</head>
<%- include("../../partials/body.ejs", { global, transparent_height: 10 }) %>

  <div class="app">
    <ul class="products"></ul>
    <footer>
      <div class="cupon cupon-div">
        <div class="selected">
          <div class="left">
            <i class="material">confirmation_number</i>
            <span class="cupon-txt"></span>
          </div>
          <button class="cupon-clear-btn">
            <i class="material">close</i>
          </button>
        </div>
        <div class="selecting">
          <input class="cupon-input" type="text" placeholder="Cupon">
          <button class="cupon-btn redeem-btn">Canjear</button>
        </div>
      </div>
      <div class="info">
        <span class="text">Total</span>
        <div class="money">
          <span class="subtotal subtotal-count">-.--</span>
          <span class="total total-count">-.--</span>
        </div>
      </div>
      <button class="btn-pay" >Continuar compra</button>
    </footer>
  </div>

<%- include("../../partials/body_end.ejs") %>
