<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Shop - Nasgar Network </title>

	<link rel="stylesheet/less" href="/less/pags/shop/index.less">

	<%- include("../../partials/less.ejs") %> 

	<script src="/js/pg/shop/index.js" type="module"></script>
</head>
<body>
	<%- include("../../partials/nav.ejs", { userData }) %>
	<div class="header-separator"></div>
	 
	<div class="centered">
		<div class="categories">
			<div class="category">
				<div class="name">Type</div>
				<div class="value">
					<div class="select">
						<div class="trigger">
							<span></span>
							<i class="material">expand_more</i>
						</div>
						<div class="options">
							<option value="all">All</option>
							<option value="rank">Rank</option>
							<option value="creates">Creates</option>
						</div>
					</div>
				</div>
			</div>

			<div class="category">
				<div class="name">Order by</div>
				<div class="value">
					<div class="select">
						<div class="trigger">
							<span></span>
							<i class="material">expand_more</i>
						</div>
						<div class="options">
							<option value="AZ">A > Z</option>
							<option value="ZA">Z > A</option>
							<option value="mM">$ > $$$</option>
							<option value="Mm">$$$ > $</option>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainbox">
			<main>
				<div class="info-text">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit repellendus consequatur nam dignissimos quam modi. Quisquam ducimus adipisci sunt odio voluptatem ea officia a. Ut quidem delectus earum ratione ipsam?
				</div>
				<div class="products">
					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>

					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>
					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>
					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>
					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>
					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>
					<div class="product" data-product-id="key0">
						<div class="dots"><i class="material">more_horiz</i></div>
						<div class="img"><img src="/img/defaultKey.png"></div>
						<div class="product-name">Product Name</div>
						<div class="footer">
							<div class="product-price">9999</div>
							<button class="add-basket">Add to basket</button>
						</div>
					</div>
				</div>
			</main>
			<aside>
				<section>
					<div class="header">Section 1</div>
					<div class="body">Lorem ipsum dolor 1</div>
				</section>
				<section>
					<div class="header">Section 2</div>
					<div class="body">Lorem ipsum dolor 2</div>
				</section>
				<section>
					<div class="header">Section 3</div>
					<div class="body">Lorem ipsum dolor 3</div>
				</section>
			</aside>
		</div>
	</div>

	<div class="toasts"></div>
</body>
</html>