<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../../partials/header.ejs") %> 
	<title> Shop - Nasgar Network </title>

	<link rel="stylesheet/less" href="/less/pags/shop/index.less">

	<%- include("../../partials/less.ejs") %> 

	<script src="/js/pg/shop/index.js" type="module"></script>
</head>
<body>
	<%- include("../../partials/nav.ejs", { userData }) %>
	<div class="header-separator"></div>
	 
	<div class="centered">
		<div class="categories">
			<div class="category">
				<div class="name">Type</div>
				<div class="value">
					<div class="select">
						<div class="trigger">
							<span></span>
							<i class="material">expand_more</i>
						</div>
						<div class="options">
							<option value="all">All</option>
							<option value="rank">Rank</option>
							<option value="creates">Creates</option>
						</div>
					</div>
				</div>
			</div>
		</div>
		<main>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. At vero Callipho et post eum Diodorus, cum is alter voluptatem adamavisset, alter vacuitatem doloris, neuter honestate carere potuit, quae est a nostris laudata maxime. Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius. Vitiosum est enim in dividendo partem in genere numerare. Possumusne ergo in vita summum bonum dicere, cum id ne in cena quidem posse videamur? Beatus autem esse in maximarum rerum timore nemo potest. Quod si ita sit, cur opera philosophiae sit danda nescio. 
			Sint ista Graecorum; Apud ceteros autem philosophos, qui quaesivit aliquid, tacet; Atque ab isto capite fluere necesse est omnem rationem bonorum et malorum. At vero Callipho et post eum Diodorus, cum is alter voluptatem adamavisset, alter vacuitatem doloris, neuter honestate carere potuit, quae est a nostris laudata maxime. Utilitatis causa amicitia est quaesita. Quod ea non occurrentia fingunt, vincunt Aristonem; Quod dicit Epicurus etiam de voluptate, quae minime sint voluptates, eas obscurari saepe et obrui. Tamen aberramus a proposito, et, ne longius, prorsus, inquam, Piso, si ista mala sunt, placet. 
			Duo Reges: constructio interrete. Ea, quae dialectici nunc tradunt et docent, nonne ab illis instituta sunt aut inventa sunt? Sed ad illum redeo. Minime vero, inquit ille, consentit. Tum Lucius: Mihi vero ista valde probata sunt, quod item fratri puto. Cum autem assumpta ratío est, tanto in dominatu locatur, ut omnia illa prima naturae hulus tutelae subiciantur. Quem quidem vos, cum improbis poenam proponitis, inpetibilem facitis, cum sapientem semper boni plus habere vultis, tolerabilem. Nec tamen ullo modo summum pecudis bonum et hominis idem mihi videri potest. At miser, si in flagitiosa et vitiosa vita afflueret voluptatibus. Introduci enim virtus nullo modo potest, nisi omnia, quae leget quaeque reiciet, unam referentur ad summam. Nec vero intermittunt aut admirationem earum rerum, quae sunt ab antiquis repertae, aut investigationem novarum. Ex rebus enim timiditas, non ex vocabulis nascitur. 
			Non quaero, quid dicat, sed quid convenienter possit rationi et sententiae suae dicere. Quorum altera prosunt, nocent altera. Quo minus animus a se ipse dissidens secumque discordans gustare partem ullam liquidae voluptatis et liberae potest. Nunc dicam de voluptate, nihil scilicet novi, ea tamen, quae te ipsum probaturum esse confidam. Stuprata per vim Lucretia a regis filio testata civis se ipsa interemit. Eaedem res maneant alio modo. -, sed ut hoc iudicaremus, non esse in iis partem maximam positam beate aut secus vivendi. Nam de summo mox, ut dixi, videbimus et ad id explicandum disputationem omnem conferemus. 
		</main>
		<aside>
			<section> S </section>
			<section> E </section>
			<section> C </section>
		</aside>
	</div>
</body>
</html>