<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/header.ejs") %> 
	<title> Admin Panel </title>

	<%- include("../../partials/less.ejs") %> 
</head>
<body>
	<%- include("./partials/nav.ejs", { title: "Admin panel" }) %> 
	<h1 class="center">Welcome to Admin panel</h1>
	<%- include("./partials/footer.ejs") %> 
</body>
</html>