#card {
	.common {
		padding: 2rem 1rem;
		width: min-content;

		background-color: #FFF;

		border-radius: 10px;

		box-shadow: 0px 0px 10px #555;

		display: flex;

		&.centered {
			margin: 0px auto;

			min-width: 200px;
		}
	}
}