@import "../common/super.less";
@import "../mixins/button.less";
@import "../components/toasts.less";
@import "../partials/nav.less";
@import "../partials/alert.less";

.present {
	position: relative;

	width: 100%;
	height: 300px;

	background-color: lighten(@primary, @semi-light-modify);
	background-image: url("/img/background.png");
	background-repeat: no-repeat;
	background-position: center 30%;
	background-size: cover;
	background-blend-mode: multiply;

	display: flex;

	.banner-ip {
		cursor: pointer;

		position: absolute;
		top: 30%;
		left: 2rem;

		width: 250px;
	}

	.banner-discord {
		cursor: pointer;

		position: absolute;
		top: 30%;
		right: 2rem;

		width: 200px;
	}

	.svg-back {
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 150px;

		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;

		svg path {
			transform: scaleX(5) translateX(-25%);
		}
	}

	@media screen and (max-width: 500px) {
		height: 500px;

		.banner-ip {
			left: calc(50% - 125px);
		}

		.banner-discord {
			top: auto;
			bottom: 2rem;
			right: auto;
			left: calc(50% - 100px);
		}
	}
}

.main {
	.body {
		width: 100%;

		padding-bottom: 5rem;
		display: grid;
		grid-template-columns: auto 25%;
		grid-template-rows: 1fr;

		@media screen and (max-width: 1000px) {
			& {
				grid-template-columns: auto 35%;
			}
		}

		main {
			padding: .5rem 2rem;
		}
	}
}

.discord-members {
	width: calc(100% - .1rem);
	height: 40rem;

	iframe {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 600px) {
	.main {
		.body {
			padding: .1rem;
			grid-template-columns: auto;
			grid-template-rows: 2fr;
		}
	}
}