<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/header.ejs") %> 
	<title> Comming Soon </title>

  <%- include("../partials/less.ejs", { paths: ["partials/nav_modern"] }) %> 
</head>
<body>
	<%- include("../partials/nav_modern.ejs", { global, solid: true }) %>

	<div class="body body-100" style="text-align: center;">
		<div style="font-size: 3rem;font-weight: 100;padding-top: 2rem;">
			Cooming Soon...
		</div>
	</div>
</body>
</html>