<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/header.ejs") %> 
	<title> Tests - Nasgar Network </title>

	<!-- CSS -->
	<link rel="stylesheet/less" href="less/index.less">

	<%- include("./partials/less.ejs") %> 
</head>
<body>
	<%- include("./partials/nav.ejs") -%> 

	
</body>
</html>