<%- include("./partials/head.ejs", { global, url: "/", title: "Tests", styles: [ "tests" ], scripts: ["script"] }) %>
<%- include("./partials/body.ejs", { global }) %>
  <div class="header-separator"></div>
	<div class="">
    <input type="text" id="Hola">
  </div>
<%- include("./partials/body_end.ejs", { global }) %>
