<!DOCTYPE html>
<html lang="es">
<head>
	<%- include("./partials/header.ejs") %> 
	<title> Tests - Nasgar Network </title>

	<!-- CSS -->
	<link rel="stylesheet/less" href="less/tests.less">

	<%- include("./partials/less.ejs") %> 
</head>
<body>
	<%- include("./partials/nav.ejs", { userData }) -%> 
  <div class="header-separator"></div>
	<div class="">
    <input type="text" id="Hola">
  </div>

  <script type="module" src="js/script.js"></script>
</body>
</html>
