<div class="app-container">
	<aside>
		<a href="/" class="logo">
			<img src="/img/logo-128x.png">
		</a>
		<section>
			<div class="header">
				<span>Section</span>
			</div>
			<div class="body">
				<a href=""> Link 1 </a>
				<a href=""> Link 2 </a>
				<a href=""> Link 3 </a>
				<a href=""> Link 4 </a>
				<a href=""> Link 5 </a>
			</div>
		</section>
		<div class="footer">
			<i class="material">settings</i>
		</div>
	</aside>
	<main>
		<nav>
			<div class="icon">
				<i class="material">menu</i>
			</div>
			<div class="title">
				<%- locals?.title ?? "Title"%> 
			</div>
			<div class="more">
				<div class="icon">
					<i class="material">more_vert</i>
				</div>
				<div class="menu"></div>
			</div>
		</nav>
		<div class="app">