<header>
	<div class="menu-btn">
		<i class="material">menu</i>
	</div>

	<div class="icon-sm">
		<a class="icon" href="/">
			<img src="https://cdn.discordapp.com/icons/455476931463217174/216061d3c7daa6c9525dcdc296eddc86.png?size=128" />
		</a>
	</div>

	<div class="left">
		<a class="icon" href="/">
			<img src="https://cdn.discordapp.com/icons/455476931463217174/216061d3c7daa6c9525dcdc296eddc86.png?size=128" />
		</a>
		<div class="options">
			<a href="#" class="option"> Tienda </a>
			<a href="#" class="option"> Sanciones </a>
			<a href="https://www.40servidoresmc.es/nasgar-network-votar" target="_blank" class="option"> Votar </a>
			<a href="#" class="option"> Foro </a>
		</div>
	</div>

	<div class="right">
		<div class="buttons">
			<a href="#" class="signup"> Registrarse </a>
			<a href="#" class="login"> Ingresar </a>
		</div>
	</div>

	<div class="menu">
		<div class="account">
			<a href="#" class="login"> Ingresar </a>
			<a href="#" class="signup"> Registrarse </a>
		</div>
		<div class="options">
			<a href="#" class="option"> Tienda </a>
			<a href="#" class="option"> Sanciones </a>
			<a href="https://www.40servidoresmc.es/nasgar-network-votar" target="_blank" class="option"> Votar </a>
			<a href="#" class="option"> Foro </a>
		</div>
	</div>
</header>