<header>
	<div class="menu-btn">
		<i class="material">menu</i>
	</div>

	<div class="icon-sm">
		<a class="icon" href="/">
			<img src="/img/logo-128x.png" />
		</a>
	</div>

	<div class="left">
		<a class="icon" href="/">
			<img src="/img/logo-128x.png" />
		</a>
		<div class="options">
			<a href="#" class="option"> Tienda </a>
			<a href="#" class="option"> Sanciones </a>
			<a href="https://www.40servidoresmc.es/nasgar-network-votar" target="_blank" class="option"> Votar </a>
			<a href="#" class="option"> Foro </a>

			<% if(userData.accountLevel === "Staff") { %>
				<a href="#" class="option"> Staff </a>
			<% } %>
		</div>
	</div>

	<div class="right">
		<div class="buttons">
			<a href="#" class="signup"> Registrarse </a>
			<a href="#" class="login"> Ingresar </a>
		</div>
	</div>

	<div class="menu">
		<div class="account">
			<a href="#" class="login"> Ingresar </a>
			<a href="#" class="signup"> Registrarse </a>
		</div>
		<div class="options">
			<a href="#" class="option"> Tienda </a>
			<a href="#" class="option"> Sanciones </a>
			<a href="https://www.40servidoresmc.es/nasgar-network-votar" target="_blank" class="option"> Votar </a>
			<a href="#" class="option"> Foro </a>
		</div>
	</div>
</header>