<%- include("./alert.ejs", { alert }) %> 

<header>
	<div class="menu-btn">
		<i class="material">menu</i>
	</div>

	<div class="icon-sm">
		<a class="icon" href="/">
			<img src="/img/logo-128x.png" alt="Nasgar Network Logo" />
		</a>
	</div>

	<div class="left">
		<a class="icon" href="/">
			<img src="/img/logo-128x.png" alt="Nasgar Network Logo" />
		</a>
		<div class="options">
			<a href="#" class="option"> Actualizaciones </a>
			<a href="/shop" class="option"> Tienda </a>
			<a href="#" class="option"> Sanciones </a>
			<a href="https://www.40servidoresmc.es/nasgar-network-votar" target="_blank" class="option"> Votar </a>

			<% if(userData.account.level.int >= 2) { %>
				<a href="/staff/controls" class="option"> Staff Controls </a>
			<% } %>
		</div>
	</div>

	<div class="right">
		<div class="buttons">
			<a href="/signup" class="signup"> Registrarse </a>
			<a href="/login" class="login"> Ingresar </a>
		</div>
	</div>

	<div class="menu">
		<div class="account">
			<a href="/login" class="login"> Ingresar </a>
			<a href="/signup" class="signup"> Registrarse </a>
		</div>
		<div class="options">
			<a href="#" class="option"> Actualizaciones </a>
			<a href="/shop" class="option"> Tienda </a>
			<a href="#" class="option"> Sanciones </a>
			<a href="https://www.40servidoresmc.es/nasgar-network-votar" target="_blank" class="option"> Votar </a>

			<% if(userData.account.level.int >= 2) { %>
				<a href="/staff/controls" class="option"> Staff Controls </a>
			<% } %>
		</div>
	</div>
</header>