// Main Colours
@primary: #3880be;
@secondary: #878787;
@success: #28a745;
@warning: #f0b503;
@danger: #dc3545;

// Complement Colors
@primary-bg: @primary;
@primary-fg: #FFF;
@secondary-bg: @secondary;
@secondary-fg: #000;
@success-bg: @success;
@success-fg: #FFF;
@warning-bg: @warning;
@warning-fg: #000;
@danger-bg: @danger;
@danger-fg: #FFF;

// Main Dark Colors
@primary-dark: desaturate(@primary, 10%);
@secondary-dark: darken(@secondary, 35%);
@success-dark: darken(@success, 35%);
@warning-dark: darken(@warning, 35%);
@danger-dark: darken(@danger, 35%);

// Complement Dark Colors
@primary-dark-bg: @primary-dark;
@primary-dark-fg: #000;
@secondary-dark-bg: @secondary-dark;
@secondary-dark-fg: #000;
@success-dark-bg: @success-dark;
@success-dark-fg: #FFF;
@warning-dark-bg: @warning-dark;
@warning-dark-fg: #000;
@danger-dark-bg: @danger-dark;
@danger-dark-fg: #FFF;

// Modifiers
@semi-light-modify: 10%;
@light-modify: 20%;
