<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/header.ejs") %> 
	<title> Error 404 </title>

  <%- include("../partials/less.ejs", { paths: ["partials/nav_modern"] }) %> 
</head>
<body>
	<%- include("../partials/nav_modern.ejs", { global }) %>

	<div class="body body-100" style="text-align: center;">
		<div style="font-size: 5rem;font-weight: 100;">
			404
		</div>
		<div style="margin-top: 1rem;font-size: 1.1rem;font-weight: 300;">
			File not found :(
		</div>
	</div>
</body>
</html>