<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("../partials/header.ejs") %> 
	<title> Error 500 </title>
</head>
<body>
	<%- include("../partials/nav.ejs") %>
	<div class="header-separator"></div>

	<div style="text-align: center;">
		<div style="font-size: 5rem;font-weight: 100;">
			500
		</div>
		<div style="margin-top: 1rem;font-size: 1.1rem;font-weight: 300;">
			Internal server error
		</div>
	</div>
</body>
</html>