<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") -%>

	<title> Nasgar Network </title>
    
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap" rel="stylesheet">
    
	<!-- CSS -->
	<%- include("../partials/less.ejs", { paths: ["pags/index"] }) %>
</head>
<body>
    <nav>
        <div class="desktop">
            <a href="/" class="logo">
                <img src="/img/logo-128x.png" alt="Nasgar Network">
            </a>
            <div class="tabs">
                <a href="/" class="tab selected">Home</a>
                <a href="#about" class="tab">About</a>
                <a href="#" class="tab">Updates</a>
                <div class="tab">
                    <div class="title">Shop</div>
                    <div class="options">
                        <a href="/shop" class="option">Ranks</a>
                        <a href="/shop" class="option">Keys</a>
                    </div>
                </div>
                <a href="#" class="tab">Team</a>
                <a href="/login" class="tab login">Login</a>
            </div>
        </div>

        <div class="mobile">
            <div class="header">
                <a href="/" class="logo">
                    <img src="/img/logo-128x.png" alt="Nasgar Network">
                </a>
                <button class="menu">
                    <i class="material">menu</i>
                </button>
            </div>
            <div class="tabs">
                <a href="/" class="tab selected">Home</a>
                <a href="#about" class="tab">About</a>
                <a href="#" class="tab">Updates</a>
                <div class="tab">
                    <div class="title">Shop</div>
                    <div class="options">
                        <a href="/shop" class="option">Ranks</a>
                        <a href="/shop" class="option">Keys</a>
                    </div>
                </div>
                <a href="#" class="tab">Team</a>
                <a href="/login" class="tab login">Login</a>
            </div>
        </div>
    </nav>

    <div class="landing">
        <div class="ip">IP: nasgar.online</div>
        <div class="desc">
            <span>Play <b>Nasgar</b> in Minecraft for free today!</span>
            <span>Join with vanilla java minecraft 1.7 - 1.17.x</span>
        </div>
    </div>

    <div class="container-full">
        <div class="body">
            <div id="about" class="solid d-block">
                <div class="title">About</div>
                <div>
                    Nasgar es un server de maincra :)
                </div>
            </div>
            <div>
                <a href="/discord" target="_blank" class="stat">
                    <div class="icon">
                        <img src="/img/discord-logo.svg" alt="Discord Icon">
                    </div>
                    <div class="name">Discord</div>
                </a>
                <a href="https://twitter.com/NasgarNetwork" target="_blank" class="stat">
                    <div class="icon">
                        <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjQgNC41NTdjLS44ODMuMzkyLTEuODMyLjY1Ni0yLjgyOC43NzUgMS4wMTctLjYwOSAxLjc5OC0xLjU3NCAyLjE2NS0yLjcyNC0uOTUxLjU2NC0yLjAwNS45NzQtMy4xMjcgMS4xOTUtLjg5Ny0uOTU3LTIuMTc4LTEuNTU1LTMuNTk0LTEuNTU1LTMuMTc5IDAtNS41MTUgMi45NjYtNC43OTcgNi4wNDUtNC4wOTEtLjIwNS03LjcxOS0yLjE2NS0xMC4xNDgtNS4xNDQtMS4yOSAyLjIxMy0uNjY5IDUuMTA4IDEuNTIzIDYuNTc0LS44MDYtLjAyNi0xLjU2Ni0uMjQ3LTIuMjI5LS42MTYtLjA1NCAyLjI4MSAxLjU4MSA0LjQxNSAzLjk0OSA0Ljg5LS42OTMuMTg4LTEuNDUyLjIzMi0yLjIyNC4wODQuNjI2IDEuOTU2IDIuNDQ0IDMuMzc5IDQuNiAzLjQxOS0yLjA3IDEuNjIzLTQuNjc4IDIuMzQ4LTcuMjkgMi4wNCAyLjE3OSAxLjM5NyA0Ljc2OCAyLjIxMiA3LjU0OCAyLjIxMiA5LjE0MiAwIDE0LjMwNy03LjcyMSAxMy45OTUtMTQuNjQ2Ljk2Mi0uNjk1IDEuNzk3LTEuNTYyIDIuNDU3LTIuNTQ5eiIvPjwvc3ZnPg==" alt="Twitter icon">
                    </div>
                    <div class="name">Twitter</div>
                </a>
                <a href="https://www.40servidoresmc.es/nasgar-network" target="_blank" class="stat">
                    <div class="icon">
                        <img src="https://www.40servidoresmc.es/img/favicon.png" alt="40servidoresmc icon">
                    </div>
                    <div class="name">40servidoresmc</div>
                </a>
            </div>
            <div id="team" class="solid d-block">
                <div class="title">Team</div>
                <div class="d-grid">
                    Someone
                </div>
            </div>
        </div>
    </div>

    <script>
        ;(() => {
            const shop = document.querySelector("div.tab");

            shop.addEventListener("click", () => {
                shop.classList.toggle("active")
            });



            const menubtn = document.querySelector("button.menu");
            const mobile = document.querySelector(".mobile");

            menubtn.addEventListener("click", () => {
                mobile.classList.toggle("active");
            });

            const nav = document.querySelector("nav");

            document.addEventListener("scroll", () => {
                let top  = window.pageYOffset || document.documentElement.scrollTop;                
                if(top > 20) {
                    nav.classList.add("scrolled")
                } else {
                    nav.classList.remove("scrolled")
                }
            })
        })();
    </script>
</body>
</html>