<!DOCTYPE html>
<html lang="es">
<head>
	<%- include("../partials/header.ejs") %> 
	<title> Log In - Nasgar Network </title>

	<link rel="stylesheet/less" href="/less/pags/login.less" />
	<%- include("../partials/less.ejs") %> 
</head>
<body>
	<div class="logo">
		<a href="/">
			<img src="/img/logo-128x.png" alt="Nasgar Logo">
		</a>
	</div>
	
	<div class="login-card centered">
		<div class="form">
			<form action="/login" method="POST">
				<input 
					type="username" 
					name="username" 
					id="username" 
					placeholder="Usuario" 
					autocomplete="username" 
					spellcheck="false" />
				<input 
					type="password" 
					name="password" 
					id="password" 
					placeholder="Contraseña"
					autocomplete="current-password" 
					spellcheck="false" />
				<button type="submit" class="btn-primary"> Ingresar </button>
			</form>
		</div>
	</div>

	<div class="links">
		<div class="signup">
			<span class="ask">No tienes cuenta?</span>
			<a href="/signup">Cree una</a>
		</div>
		<div class="help">
			<span class="ask">Tienes problemas?</span>
			<span class="text">Pide ayuda en nuestro</span>
			<a href="/discord" target="_blank">Discord</a>
		</div>
	</div>
</body>
</html>
