<!DOCTYPE html>
<html lang="es">
<head>
	<%- include("../partials/header.ejs") %>
	<title> Sign up - Nasgar Network </title>

	<%- include("../partials/less.ejs", { paths: ["pags/signup"] }) %>

	<%- include("../partials/script.ejs", { paths: ["pg/signup"] }) %>
</head>
<body>
	<div class="logo">
		<a href="/">
			<img src="/img/logo-128x.png" alt="Nasgar Logo">
		</a>
	</div>
	
	<div class="login-card centered">
		<div class="form">
			<form action="/signup" method="POST">
				<input 
					type="username" 
					name="username" 
					id="username" 
					placeholder="Usuario" 
					autocomplete="username" 
					spellcheck="false" />
				
				<input 
					type="email" 
					name="email" 
					id="email" 
					placeholder="Email" 
					autocomplete="email" 
					spellcheck="false" />

				<input 
					type="password" 
					name="password" 
					id="password" 
					placeholder="Contraseña"
				  autocomplete="false" 
					spellcheck="false" />

				<div id="passLine" class="progress-line"></div>

				<input 
					type="password" 
					name="rpassword" 
					id="rpassword" 
					placeholder="Confirma contraseña"
					autocomplete="false" 
					spellcheck="false" />

				<button type="submit" class="btn-primary">
					Registrar
				</button>
			</form>
		</div>
	</div>

	<div class="links">
		<div class="login">
			<span class="ask">Ya tienes una cuenta?</span>
			<a href="/login">Inicia Sesion</a>
		</div>
		<div class="help">
			<span class="ask">Tienes problemas?</span>
			<span class="text">Pide ayuda en nuestro</span>
			<a href="/discord" target="_blank">Discord</a>
		</div>
	</div>
</body>
</html>
