@import "./mixins/button.less";
@import "./components/toasts.less";
@import "./partials/nav.less";

*, *::before, *::after {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

body {
	background-color: #EEE;
}

a {
	color: currentColor;
	text-decoration: none;
}

.present {
	position: relative;

	width: 100%;
	height: 300px;

	background-color: lighten(@primary, @semi-light-modify);
	background-image: url("/img/background.jpg");
	background-repeat: no-repeat;
	background-position-y: 30%;
	background-size: cover;
	background-blend-mode: multiply;

	display: flex;

	.banner-ip {
		cursor: pointer;

		position: absolute;
		top: 30%;
		left: 2rem;

		width: 250px;
	}

	.banner-discord {
		cursor: pointer;

		position: absolute;
		top: 30%;
		right: 2rem;

		width: 200px;
	}

	.svg-back {
		position: absolute;
		bottom: 0;

		width: 100%;
		height: 150px;

		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;

		svg path {
			transform: scaleX(5) translateX(-25%);
		}
	}

	@media screen and (max-width: 500px) {
		height: 500px;

		.banner-ip {
			left: calc(50% - 125px);
		}

		.banner-discord {
			top: auto;
			bottom: 2rem;
			right: auto;
			left: calc(50% - 100px);
		}
	}
}

.main {
	.body {
		width: 100%;

		padding-bottom: 5rem;
		display: grid;
		grid-template-columns: auto 25%;
		grid-template-rows: 1fr;

		@media screen and (max-width: 1000px) {
			& {
				grid-template-columns: auto 35%;
			}
		}

		main {
			padding: .5rem 2rem;
		}
	}
}

.discord-members {
	width: calc(100% - .1rem);
	height: 40rem;

	iframe {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 600px) {
	.main {
		.body {
			padding: .1rem;
			grid-template-columns: auto;
			grid-template-rows: 2fr;
		}
	}
}


::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background-color: #a8c6e1;
}

::-webkit-scrollbar-thumb {
	background-color: #6cabe2;
	border-radius: 5px;
	border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4c7da9;
}






// Icons 
.material-icons,
i.material {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	
	/* Support for IE. */
	font-feature-settings: 'liga';
}